<!DOCTYPE HTML>

<html>
  
  <head>

    <title>Bloggo</title>

    <style type="text/css">
      html, body {
        height:100%;
        margin:0px;
        padding:0px;
      }
    </style>

  </head>

  <body>

    <table style="width:100%; height:100%; background-color:#FFE0E0; margin:auto;">
      <tr style="height:100%">
        <td style="width:30%">
        </td>
        <td style="width:40%; vertical-align:top; background-color:#E0FFE0">
         {% block body %}{% endblock %}
        </td>
        <td style="width:30%; text-align:right; vertical-align:top;">
          {% if session['username'] %}
            Logged as <a href="/user/{{ username }}">@{{ username }}<br>
            <a href="/logout">Log out</a>
          {% else %}
            <a href="/signin">Sign in</a><br>
            <a href="/signup">Sign up</a>
          {% endif %}
        </td>
      </tr>
    </table>

  </body>

</html>