{% extends "layout.html" %}
{% block body %}
  <h2>Sign up</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('signup') }}" method=post>
    <dl>
      <dt>Username:
      <dd><input type=text name=username>
      <dt>Password:
      <dd><input type=password name=password>
      <dt>Repeat password:
      <dd><input type=password name=password_repeat>
      <dt>Bio:
      <dd><textarea name=bio rows=3 cols=40></textarea>
      <dt>Link on profile picture:
      <dd><input type=pic_link name=username>
      <dd><input type=submit value="Sign in">
    </dl>
  </form>
{% endblock %}